* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #ce0030 #fbec5d;
  scrollbar-width: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #fbec5d;
}

::-webkit-scrollbar-thumb {
  background-color: #ce0030;
}

body {
  margin: 0 auto;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  padding-bottom: 50px;
  position: relative;
}

.active {
  font-weight: bold;
}

.formOrder {
  margin-top: 20px;
}


.formOrder_wrapper {
  padding: 20px 30px;
  background: rgba(251, 248, 248, 0.5);
  box-shadow: 0 15px 25px rgba(199, 199, 199, 0.7);
  border-radius: 10px;
}

.formOrder_title {
  font-size: 1rem;
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}

.formOrder_box {
  position: relative;
}

.formOrder_input {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #ce0030;
}

.formOrder_label {
  position: absolute;
  top: -15px;
  left: 0;
  color: #ce0030;
  font-size: 12px;
}

.error {
  color: #ce0030;
  position: absolute;
  font-size: 12px;
  right: -20px;
  top: -40px;
  font-size: 12px;
  text-align: right;
}

.error::before {
  display: inline;
  content: '⚠ ';
}

.button {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.coupons {
  position: absolute;
  bottom: 0;
  color: #ce0030;
  font-size: 0.8rem;
}